/*Root colors for project*/
:root {
    --main-black: #100402;
    --main-tan: #E3D9CF;
    --main-tan-fade: #E3D9CF95;
    --off-black: #363333;
    --gold: #ffb703;
}

/* Welcome Screen Styling*/
* {
    box-sizing: border-box;
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

span  {
    font-size: 25px;
}


.footertext {
    font-size: 16px;
}
#welcomeScreen a {
    text-decoration: none;
    color: var(--main-black);
    font-weight: lighter;
}

#welcomeScreen {
   background-image: url("./Assets/images/gold-01.png");
   background-size: contain;
   background-repeat: no-repeat;
   height: 100vh;
   background-attachment: fixed;
   font-family:  "Inter", sans-serif;
   background-color: black;
}

 /*Added animation to the heading on main section */
 .tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.7s both;
	        animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.7s both;
}


/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -200%, 0);
      transform: translate3d(0, -200%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  
  .animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }


#title {
    font-size: 75px;
    letter-spacing: 10px;
    font-weight: 300;
    display: none;
}
.elegant {
    letter-spacing: 2px;
    font-weight: 300;
    display: none;
}
.cover-font {
    color: var(--main-tan);
    text-transform: uppercase;
}

.nav-bar{
    width: 100%;
    top: 0;
    height: 135px;
    z-index: 2;
    background-color: #ffffff80;
    position: fixed;
    font-size: 20px;
    margin: 0;
}

.list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title1 {
    font-weight: bold;
    font-size: 40px;
}

.GLD-Header-Logo {
    width: 200px;
}

/* .flex-1-1 {
    display: flex;
    height: 95vh;
    margin-top: 0px;
    align-items: flex-end;
} */

.flex-1 {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
    border: solid 5px green;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    gap: 10px; 
}
.gallery img {
    flex: 0 2 50px; /* allows images to grow and shrink as needed */
    max-width: 100%; /* ensures images do not overflow the container */
    max-height: 100%; /* ensures images do not overflow the container */
}

.gallery .img1{
 border: solid red;
}
.gallery .img2 {
    border: solid green;
}

.gallery .img3 {
  
    border: solid blue;
}



/*Buttons*/

#shop-button-1 {
    padding-bottom: 75px; 
}

#shop-button-1 > button {
    background-color: transparent;
    padding: 5px 30px;
    border: solid white 1px;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    transition-duration: 1s;
    -webkit-box-shadow: 3px 4px 1px 3px #FFFBFB; 
    box-shadow: 3px 4px 1px 3px #FFFBFB;
}

#shop-button-1 > button:hover {
    border: solid white 1.5px;
    background-color: #ffb703;
    -webkit-box-shadow: 0px 0px 0px 0px #FFFBFB; 
    box-shadow: 0px 0px 0px 0px #FFFBFB;
}

#shop-button-3 > button {
    background-color: transparent;
    padding: 5px 30px;
    border: solid white 1px;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    transition-duration: 1s;
    -webkit-box-shadow: 3px 4px 1px 3px #FFFBFB; 
    box-shadow: 3px 4px 1px 3px #FFFBFB;
    font-family: "Inter", sans-serif;
}

#shop-button-3 > button:hover{
    border: solid white 1.5px;
    background-color: #ffb703;
    -webkit-box-shadow: 0px 0px 0px 0px #FFFBFB; 
    box-shadow: 0px 0px 0px 0px #FFFBFB;
}

#shop-button-3 {
    grid-column: 2;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    transition: letter-spacing 1s ease-out 2s;
}


#last-button > button {
    background-color: transparent;
    padding: 5px 30px;
    border: solid white 1px;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    transition-duration: 1s;
    -webkit-box-shadow: 3px 4px 1px 3px #FFFBFB; 
    box-shadow: 3px 4px 1px 3px #FFFBFB;
    font-family: "Inter", sans-serif;
}

#last-button{
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
}

#last-button > button:hover{
    border: solid white 1.5px;
    background-color: #ffb703;
    -webkit-box-shadow: 0px 0px 0px 0px #FFFBFB; 
    box-shadow: 0px 0px 0px 0px #FFFBFB;
}


/*Section 2-4 Styling*/


.headers{
max-width: 80%;
display: flex;
flex-direction: column;
justify-content: center;
}
.headers p {
    font-size: 18px;
}
.header-1 {
    font-size: 70px; 
    padding-bottom: 50px;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    color: var(--gold);
    letter-spacing: .02em;
    font-weight: 200;
}



.aboutmepic {
    display: flex;
    justify-content: flex-end;
    /* margin-bottom: 20px; */
}



.pic {
    object-fit: contain;  
}


.section-2 {
    height: 100%;
    display: flex;
    align-items: center; 
}
.section-2-1 {
    padding: 200px 50px 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    row-gap: 40px;
}

.aboutgld-btn {
margin-right: 20px;
}
/*Carousel*/

.goldandwhite {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 20px;
}

.carousel-pic {
    object-fit: scale-down;
    width: 100%;
}

.section-3 {
    height: 100%;
    display: flex;
    align-items: center;
}

.section-3-1 {   
    padding: 200px 50px 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    row-gap: 20px; 
}



.section-4 {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 70px 50px 90px;

}

.section-4-1 {    
    padding: 150px 50px 90px;
    display: grid;
    grid-template-columns: 1fr 25% 25%;
    grid-template-rows: 1fr auto;
    row-gap: 20px;
    column-gap: 100px;
}

.section-5-1 {
    padding: 100px 50px 10px;
}

.section-2, .section-3, .section-4, .section-5, .section-5-1 {
    background-color: var(--main-black);
    color: var(--main-tan);
}

p {
    color: var(--main-tan);
    font-family: "Inter",sans-serif;
}

.headers {
    color: var(--main-tan);
    font-family: "Inter", sans-serif;
}

.about-me {
    color: var(--main-tan);
    font-family: "Inter", sans-serif;
}


.img-border-radius {
    border-radius: 5%;
    margin-bottom: 50px;
}

.bracelet1, .bracelet2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-border-radius {
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: scale .8 ease;
}

.img-border-radius:hover {
    background: #ffffff !important;
    opacity: 0.5;
    z-index: 0;
    scale: 1.05;

}

.bracelet-para {
    text-align: center;
}



.section-5 {
    padding: 10px 50px 0px;
    height: 100%;
}

.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > fieldset > label {
    display: block;
}
.section h5 {
    color: var(--gold)
}
.form1 {
    margin-top: 40px;
    margin-bottom: 40px;
}
/* Gives the form a max-width and min-width, 
setting it to 60vw betwween those widths. */
form {
    margin: 0 auto;
    max-width: 600px;
    min-width: 400px;
    width: 70vw;
  }

input, textarea {
    width: 100%;
    margin: 10px 0 0 0;
    background-color: var(--off-black);
    border: var(--off-black) solid 1px;
    color: var(--main-tan);
    min-height: 2em;
  }

input, textarea:focus {
    outline: none;
  }
  
.section {
    clear: both;
    opacity: 1;
    transition: opacity 2s ease;
}
  .hidden {
    opacity: 0;
    background-color: var(--main-black);
  }




  /*MEDIA QUERIES START HERE*/


  @media only screen and (max-width: 600px) {
    #welcomeScreen {
        background-image: url("./Assets/images/bracelet10.jpg");
        background-attachment: local;
    }
   
.header-1 {
    font-size: 55px;
}
    .cover-font {
        height: 100vh;
        color: var(--off-black)
    }

          #title {
            font-size: 55px;
            letter-spacing: 10px;
            font-weight: light;
            margin-bottom: 15px;
        }

        .elegant {
            letter-spacing: 2px;
            font-weight: 200;
            margin-top: 35px;
        }
        
        
        #shop-button-1{
         display: none;
        }

        #shop-button-3 {
            align-self: flex-end;
        }

    .section-2 {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .section-2-1 {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }
div.headers.section {
    max-width: 100%;
    align-self: center;
}
        
        .section-3 {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
        }
        
        .section-3-1 {  
            margin-top: 100px; 
            padding: 0;
            display: flex;
            flex-direction: column;  
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: center;
        }

        .aboutmepic img {
            max-width: 350px;
        }

      .section-4 {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      .section-4-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin-top: 100px;
        text-align: center;
      }
      .section-5-1{
        margin-top: 50px;
        padding: 0;
      }
      .bracelet1 img {
        margin: 35px 0;
      }

      .bracelet1 h5 {
        color: var(--gold);
        font-weight: 200;
        letter-spacing: 1px;
      }

      .bracelet2 img {
        margin: 35px 0;
      }
      .bracelet2 h5 {
        color: var(--gold);
        font-weight: 200;
        letter-spacing: 1px;
      }
      form {
        max-width: 500px;
        min-width: 200px;
        width: 70vw;
        margin-bottom: 0;
      }
      h4 {
        text-align: center;
      }
    }
}
      @media only screen and (min-width: 601px) and (max-width: 1000px) {
        #welcomeScreen {
            background-image: url("./Assets/images/bracelet10.jpg");
            background-attachment: local;
        }
        .header-1{
            text-align: center;
        }
        .section-2 {
            height: 100%;
            display: flex;
            align-items: center;
        }
        .section-2-1 {
            margin-top: 150px;
            display: flex;
            flex-direction: column;
            padding: 10px;
            text-align: center;
            width: 100%;
            align-items: center;
        }
        .section-3 {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
        }
        
        .section-3-1 {  
            margin-top: 150px; 
            padding: 0;
            display: flex;
            flex-direction: column;  
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: center;
        }

        .aboutmepic img {
            max-width: 550px;
        }

        .section-4 {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
          }
    
          .section-4-1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding: 0;
            margin-top: 150px;
            text-align: center;
          }
          #shop-button-3 {
            align-self: flex-end;
        }
        #last-button > button:hover{
            background: #e7e7e7;
            color: var(--off-black);
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px){
    #welcome-screen{
    background-attachment: local;
    }
    .section-4 {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      .section-4-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin-top: 150px;
        text-align: center;
      }

}