/*Root colors for project*/
:root {
    --main-black: #100402;
    --main-tan: #E3D9CF;
}

/* Welcome Screen Styling*/
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    max-width: 100%;

}
#welcomeScreen {
   background-image: url("./Assets/welcome.webp");
   background-size: cover;
   background-position: center;
   height: 100vh; 
   background-attachment: fixed;
   font-family: "Cormorant", serif;
}
h1 {
    font-size: 60px;
}
#title {
    color: #FFFFFFEF;
    font-size: 90px;
}
.cover-font {
    color: #FFFFFF;
}
.nav-bar .list {
    display: flex;
    gap: 10px;
    font-size: 10px;
}


.list {
    list-style: none;
}

#shop-button button {
    background-color: transparent;
    padding: 3px 15px;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
}

/*Section 2 Styling*/

.section-2 {
    height: 100vh;
    background-color: var(--main-black);
}

.paragraph-section2 {
    color: var(--main-tan);
    font-family: "Raleway", sans-serif;
    font-size: 15px;
}