/*Root colors for project*/
:root {
    --main-black: #100402;
    --main-tan: #E3D9CF;
    --off-black: #363333;
}

/* Welcome Screen Styling*/
* {
    box-sizing: border-box;
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

#welcomeScreen a {
    text-decoration: none;
    color: black;
    font-weight: lighter;
}

#welcomeScreen {
   background-image: url("./Assets/images/welcome.webp");
   background-size: cover;
   background-position: center;
   height: 100vh;
   background-attachment: fixed;
   font-family: "Cormorant", serif;
}

h1 {
    font-size: 60px;
}
 /*Added animation to the heading on main section */
 .tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.7s both;
	        animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.7s both;
}


/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
  
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

#title {
    color: #ffffff95;
    font-size: 90px;
    text-transform: uppercase;
}

.cover-font {
    color: #FFFFFF;
}

.nav-bar{
    width: 100%;
    top: 0;
    height: 135px;
    z-index: 2;
    background-color: #ffffff80;
    position: fixed;
    font-size: 20px;
    margin:0;
}

.list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title1 {
    font-weight: bold;
    font-size: 40px;
}

.GLD-Header-Logo {
    width: 200px;
}
.flex-1-1 {
    display: flex;
    height: 95vh;
    align-items: flex-end;

}

.flex-1 {
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#shop-button-1 {
    align-self: flex-end;
    padding-bottom: 75px;
}

#shop-button-1 > button {
    background-color: transparent;
    padding: 5px 30px;
    border: solid #6E381F 1px;
    color: white;
    font-size: 20px;
    font-weight: lighter;
}




#shop-button-2 > button {
    background-color: transparent;
    padding: 5px 28px;
    border: solid white 1px;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    font-family: "Cormorant", serif;
}

#shop-button-2-2 {
    grid-column: 3;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#shop-button-2-2 > button {
    background-color: transparent;
    padding: 5px 28px;
    border: solid white 1px;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    font-family: "Cormorant", serif;
}
/*Section 2-4 Styling*/

.headers{
max-width: 75%;
display: flex;
flex-direction: column;
justify-content: center;
}

.header-1 {
    font-size: 50px; 
    padding-bottom: 30px;
    font-family: "Cormorant", serif;
    text-transform: uppercase;
}



.aboutmepic {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.pic {
    object-fit: contain;
    height: 600px;
    
}

#shop-button-2, #shop-button-3 {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: flex-end;
}

.section-2 {
    height: 100vh;
    display: flex;
    align-items: center; 
}
.section-2-1 {
    padding: 200px 50px 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    row-gap: 20px;
}
/*Carousel*/

.goldandwhite {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 20px;
}

.carousel-pic {
    object-fit: scale-down;
    width: 100%;
}

.section-3 {
    height: 100vh;
    display: flex;
    align-items: center;
}

.section-3-1 {   
    padding: 200px 50px 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    row-gap: 20px;
    
}

.section-4 {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 70px 50px 90px;
}

.section-4-1 {    
    padding: 150px 50px 90px;
    display: grid;
    grid-template-columns: 1fr 25% 25%;
    grid-template-rows: 1fr auto;
    row-gap: 20px;
    column-gap: 100px;
}

.section-5-1 {
    padding: 100px 50px 10px;
}

.section-2, .section-3, .section-4, .section-5, .section-5-1 {
    background-color: var(--main-black);
    color: var(--main-tan);
}

p {
    color: var(--main-tan);
    font-family: "Raleway", sans-serif;
    font-size: 15px;
}

.headers {
    color: var(--main-tan);
    font-family: "Cormorant", serif;
}

.about-me {
    color: var(--main-tan);
    font-family: "Cormorant", serif;
}

#shop-button-2 > button {
    background-color: transparent;
    padding: 5px 28px;
    border: solid white 1px;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    font-family: "Cormorant", serif;
    margin-right: 20px;
}
#shop-button-3 > button {
    background-color: transparent;
    padding: 5px 28px;
    border: solid white 1px;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    font-family: "Cormorant", serif;
    margin-right: 10px;
}

.img-border-radius {
    border-radius: 50%;
    margin-bottom: 30px;
}

.bracelet1, .bracelet2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-border-radius {
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -o-transition: all .8s ease;
}

.img-border-radius:hover {
    background: #ffffff !important;
    opacity: 0.5;
    z-index: 0;
}

.bracelet-para {
    text-align: center;
}

.section-5 {
    padding: 10px 50px 0px;
    border: solid red 10px;
}
.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > fieldset > label {
    display: block;
}

.form1 {
    margin-top: 40px;
    margin-bottom: 40px;
}
/* Gives the form a max-width and min-width, 
setting it to 60vw betwween those widths. */
form {
    margin: 0 auto;
    max-width: 600px;
    min-width: 400px;
    width: 70vw;
  }

  input, textarea {
    width: 100%;
    margin: 10px 0 0 0;
    background-color: var(--off-black);
    border: var(--off-black) solid 1px;
    color: var(--main-tan);
    min-height: 2em;
  }

  @media (min-width: 481px) and (max-width: 900px){
  
    #welcomeScreen {
        background-size: cover;
        background-position: center;
        height: 100vh;
        background-attachment: fixed;
    }
    .nav-bar {
        display: none;
    }
    #title {
        font-size: 70px;
    }
    /* #shop-button-1 {
        align-self: flex-end;
    } */
    
    /* #shop-button-1 > button{
        background-color: transparent;
        border: solid #6E381F 1px;
        color: white;
        font-size: 25px;
        font-weight: lighter;
        display: flex;
    } */
    #welcomeScreen{
        border: solid 10px red;
        margin: 0;
        padding: 0;
    }
.section-2-1, .section-3-1 {
    border: solid 10px green;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 1rem;
}

.header-1 {
    text-align: center;
}
#disappear {
    display: none;
}
.pic {
    width: 400px;
    height: 450px;
}
 .section-4 {
    display: none;
}
   
  }