:root {
    --main-black: #100402;
    --main-tan: #E3D9CF;
    --off-black: #363333;
}

body{
background-image: url(../Assets/images/backgroundcomingsoon.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
font-family: "Cormorant", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
}
h1 {
    font-size: 60px;
    color: var(--off-black);
}

.coming-soon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}